In [6]:
import pandas as pd
import json

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [7]:
from re import L
from telnetlib import theNULL
from regex import D


# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)

In [8]:
# Iterate through the backers DataFrame and convert each row to a dictionary.

    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    
    # Append the list of values for each row to a list. 
    

# Print out the list of values for each row.

In [9]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists.

In [10]:
# Export the DataFrame as a CSV file using encoding='utf8'.

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [11]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)

In [12]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".

df=pd.read_csv("backer_info.csv")

# Extract the four-digit contact ID number.
df['backer_id'] = df['backer_info'].str.extract(r'"backer_id": "(.*?)"')

df

,backer_info,backer_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506
...,...,...
8170,"{""backer_id"": ""st581"", ""cf_id"": 65, ""name"": ""Serita Thebault"", ""email"": ""sthebault@yandex.com""}",st581
8171,"{""backer_id"": ""gf637"", ""cf_id"": 563, ""name"": ""Glenn Foerstner"", ""email"": ""gfoerstner@yahoo.com""}",gf637
8172,"{""backer_id"": ""rc983"", ""cf_id"": 1114, ""name"": ""Robt Collin"", ""email"": ""rcollin@outlook.com""}",rc983
8173,"{""backer_id"": ""cz381"", ""cf_id"": 65, ""name"": ""Corina Zappa"", ""email"": ""czappa@outlook.com""}",cz381
8174,"{""backer_id"": ""fg535"", ""cf_id"": 65, ""name"": ""Freeman Gibbs"", ""email"": ""fgibbs@outlook.com""}",fg535

In [13]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".
# Extract the four-digit contact ID number.
df['cf_id'] = df['backer_info'].str.extract(r'"cf_id": (\d*)')

df

,backer_info,backer_id,cf_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563
...,...,...,...
8170,"{""backer_id"": ""st581"", ""cf_id"": 65, ""name"": ""Serita Thebault"", ""email"": ""sthebault@yandex.com""}",st581,65
8171,"{""backer_id"": ""gf637"", ""cf_id"": 563, ""name"": ""Glenn Foerstner"", ""email"": ""gfoerstner@yahoo.com""}",gf637,563
8172,"{""backer_id"": ""rc983"", ""cf_id"": 1114, ""name"": ""Robt Collin"", ""email"": ""rcollin@outlook.com""}",rc983,1114
8173,"{""backer_id"": ""cz381"", ""cf_id"": 65, ""name"": ""Corina Zappa"", ""email"": ""czappa@outlook.com""}",cz381,65
8174,"{""backer_id"": ""fg535"", ""cf_id"": 65, ""name"": ""Freeman Gibbs"", ""email"": ""fgibbs@outlook.com""}",fg535,65

In [14]:
# Extract the name from the backer_info column and add it as a new column called "name".
df['name'] = df['backer_info'].str.extract(r'"name": "(.*?)"')

df

,backer_info,backer_id,cf_id,name
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968,Angelo Vincent
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563,Hubert Arnold
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65,Loris Goulet
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563,Teodora Brunelli
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563,Lexie Hunt
...,...,...,...,...
8170,"{""backer_id"": ""st581"", ""cf_id"": 65, ""name"": ""Serita Thebault"", ""email"": ""sthebault@yandex.com""}",st581,65,Serita Thebault
8171,"{""backer_id"": ""gf637"", ""cf_id"": 563, ""name"": ""Glenn Foerstner"", ""email"": ""gfoerstner@yahoo.com""}",gf637,563,Glenn Foerstner
8172,"{""backer_id"": ""rc983"", ""cf_id"": 1114, ""name"": ""Robt Collin"", ""email"": ""rcollin@outlook.com""}",rc983,1114,Robt Collin
8173,"{""backer_id"": ""cz381"", ""cf_id"": 65, ""name"": ""Corina Zappa"", ""email"": ""czappa@outlook.com""}",cz381,65,Corina Zappa
8174,"{""backer_id"": ""fg535"", ""cf_id"": 65, ""name"": ""Freeman Gibbs"", ""email"": ""fgibbs@outlook.com""}",fg535,65,Freeman Gibbs

In [15]:
# Extract the email from the backer_info column and add it as a new column called "email".
df['email'] = df['backer_info'].str.extract(r'"email": "(.*)"')

df

,backer_info,backer_id,cf_id,name,email
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968,Angelo Vincent,avincent@live.com
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563,Hubert Arnold,harnold@yandex.com
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65,Loris Goulet,lgoulet@yandex.com
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563,Teodora Brunelli,tbrunelli@outlook.com
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563,Lexie Hunt,lhunt@live.com
...,...,...,...,...,...
8170,"{""backer_id"": ""st581"", ""cf_id"": 65, ""name"": ""Serita Thebault"", ""email"": ""sthebault@yandex.com""}",st581,65,Serita Thebault,sthebault@yandex.com
8171,"{""backer_id"": ""gf637"", ""cf_id"": 563, ""name"": ""Glenn Foerstner"", ""email"": ""gfoerstner@yahoo.com""}",gf637,563,Glenn Foerstner,gfoerstner@yahoo.com
8172,"{""backer_id"": ""rc983"", ""cf_id"": 1114, ""name"": ""Robt Collin"", ""email"": ""rcollin@outlook.com""}",rc983,1114,Robt Collin,rcollin@outlook.com
8173,"{""backer_id"": ""cz381"", ""cf_id"": 65, ""name"": ""Corina Zappa"", ""email"": ""czappa@outlook.com""}",cz381,65,Corina Zappa,czappa@outlook.com
8174,"{""backer_id"": ""fg535"", ""cf_id"": 65, ""name"": ""Freeman Gibbs"", ""email"": ""fgibbs@outlook.com""}",fg535,65,Freeman Gibbs,fgibbs@outlook.com

In [16]:
# Create a new DataFrame with the appropriate columns.
newdf = df[df.columns[1:5]]
newdf

     backer_id cf_id              name                  email
0        av166   968    Angelo Vincent      avincent@live.com
1        ha127   563     Hubert Arnold     harnold@yandex.com
2        lg794    65      Loris Goulet     lgoulet@yandex.com
3        tb566   563  Teodora Brunelli  tbrunelli@outlook.com
4        lh506   563        Lexie Hunt         lhunt@live.com
...        ...   ...               ...                    ...
8170     st581    65   Serita Thebault   sthebault@yandex.com
8171     gf637   563   Glenn Foerstner   gfoerstner@yahoo.com
8172     rc983  1114       Robt Collin    rcollin@outlook.com
8173     cz381    65      Corina Zappa     czappa@outlook.com
8174     fg535    65     Freeman Gibbs     fgibbs@outlook.com

[8175 rows x 4 columns]

In [18]:
# Export the DataFrame as a CSV file using encoding='utf8'.
newdf.to_csv('backers.csv')

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [19]:
# Check data types.
newdf.dtypes

backer_id    object
cf_id        object
name         object
email        object
dtype: object

In [20]:
# Convert cf_id to an integer if necessary.
#newdf = newdf.astype({"cf_id":int}, errors="raise")
newdf["cf_id"] = newdf["cf_id"].astype(int)
newdf.dtypes


#newdf["cf_id"] = pd.to_numeric(newdf["cf_id"])

C:\Users\nkias\AppData\Local\Temp\ipykernel_21912\2410667889.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf["cf_id"] = newdf["cf_id"].astype(int)

backer_id    object
cf_id         int32
name         object
email        object
dtype: object

In [ ]:
# Split the "name" column into "first_name" and "last_name" columns.
newdf[["First","Last"]] = newdf["name"].str.split(expand = True)
newdf.dtypes

In [21]:
newdf.rename()

,backer_id,cf_id,name,email,First,Last
0,av166,968,Angelo Vincent,avincent@live.com,Angelo,Vincent
1,ha127,563,Hubert Arnold,harnold@yandex.com,Hubert,Arnold
2,lg794,65,Loris Goulet,lgoulet@yandex.com,Loris,Goulet
3,tb566,563,Teodora Brunelli,tbrunelli@outlook.com,Teodora,Brunelli
4,lh506,563,Lexie Hunt,lhunt@live.com,Lexie,Hunt
...,...,...,...,...,...,...
8170,st581,65,Serita Thebault,sthebault@yandex.com,Serita,Thebault
8171,gf637,563,Glenn Foerstner,gfoerstner@yahoo.com,Glenn,Foerstner
8172,rc983,1114,Robt Collin,rcollin@outlook.com,Robt,Collin
8173,cz381,65,Corina Zappa,czappa@outlook.com,Corina,Zappa
8174,fg535,65,Freeman Gibbs,fgibbs@outlook.com,Freeman,Gibbs

In [26]:
df = newdf.rename(columns={'First':'first_name','Last':'last_name'})\
[['backer_id','cf_id','first_name','last_name','email']]
df[:10]

  backer_id  cf_id first_name last_name                  email
0     av166    968     Angelo   Vincent      avincent@live.com
1     ha127    563     Hubert    Arnold     harnold@yandex.com
2     lg794     65      Loris    Goulet     lgoulet@yandex.com
3     tb566    563    Teodora  Brunelli  tbrunelli@outlook.com
4     lh506    563      Lexie      Hunt         lhunt@live.com
5     lh382    563    Lambert     Huber        lhuber@live.com
6     em444    563       Emmy     Morin        emorin@live.com
7     at582   1572    Armonda     Trani        atrani@live.com
8     id772   1911      Ilana      Duke      iduke@outlook.com
9     lw275     65     Leigha    Wright       lwright@live.com

In [27]:
# Export the DataFrame as a CSV file using encoding='utf8'.
df.to_csv("backers.csv",encoding = "utf8")